<tr >
    <td>
        Hemos detectado que se está agotando el producto
    </td>
    <td>
        #productName#
    </td>
</tr>
<tr style="border:solid black 1px">
    <td>
        Tiene disponibles
    </td>
    <td>
        #productQuantity#
    </td>
</tr>