<tr>
    <td style='text-align:left'>
        #idProduct#
    </td>
    <td style='text-align:center'>
        #descriptProduct#
    </td>
    <td style='text-align:center'>
        #quantityProduct#
    </td>
    <td style='text-align:center'>
        #saleProduct#
    </td>
    <td style='text-align:right'>
        #subtotalProduct#
    </td>
</tr>