@model IEnumerable<testi2.Context.tb_sale_detail>
@{
    ViewBag.Title = "Index";
}
<div id="contenidoVenta" align="center">
    <h1>Nueva venta</h1>
    <form method="post" action="sale/sale" id="bill" name="bill">
        <input type="hidden" name="totalBill" />
        <div id="userList" align="center" class="usuarios">
            <label>Seleccione los productos y la cantidad</label>
            <div class="container table-responsive" id="info">                
                <br />
                <div class="row">
                    <div class="col-xs-12">Selecciona el cliente</div>
                    <div class="col-xs-12">@Html.DropDownList("cliId", ViewBag.clientId as SelectList, "Seleccione un cliente", htmlAttributes: new { @class = "form-control " })</div>
                    <label id="error"></label>
                </div>
                <div class="row">
                    <div class="col-xs-6">Producto</div>
                    <div class="col-xs-6">Cantidad</div>
                    <div class="col-xs-6">@Html.DropDownList("stockId", ViewBag.productId as SelectList, "Seleccione un producto", htmlAttributes: new { @class = "form-control stockId ajaxProcessSingle", @dataAction = "stockQuantity", @dataOwner = "sale", @dataBefore = "quantityOption" })</div>
                    <div class="col-xs-6 hidden">@Html.DropDownList("stockPrice", ViewBag.productList as SelectList, "Seleccione un producto", htmlAttributes: new { @class = "form-control stockPrice" })</div>
                    <div class="col-xs-6">@Html.DropDownList("productQuantity", ViewBag.productQuantity as SelectList, "Seleccione la cantidad", new { @class = "form-control", @id = "DropDownListQuantity" })</div>
                </div>
                <div class="row">
                    <div class="col-xs-6">Precio unitario</div>
                    <div class="col-xs-6">Subtotal</div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" readonly name="unitary" id="unitary" />
                    </div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" readonly name="subtotal" id="subtotal" />
                    </div>

                    <div class="col-xs-6">
                        <img class="preimg addCar hidden" alt="agregar" title="Agregar producto" src="~/assets/images/add.png" />
                        <span class="btn btn-success glyphicon glyphicon-plus-sign addCar margin"></span>
                    </div>
                    <div class="col-xs-6">
                        <img class="preimg hidden" id="cancell" alt="cancelar" title="Cancelar transacción" src="~/assets/images/cancell.png" />
                        <span class="btn btn-danger glyphicon glyphicon-remove-sign text-danger margin"></span>
                    </div>
                </div>
                <hr />
                <div id="bill" style="">
                    <label>Resumen de articulos seleccionados</label>
                    <table class="table-bordered table" id="billif">
                        <thead>
                            <tr>
                                <td class="hidden">
                                    auto
                                </td>
                                <td>
                                    Id
                                </td>
                                <td>
                                    Producto
                                </td>
                                <td>
                                    Cantidad
                                </td>
                                <td>
                                    Precio<br /> unitario
                                </td>
                                <td>
                                    Precio <br /> total
                                </td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table>
                        <tr>
                            <td style="border:none">
                                Total
                            </td>
                            <td style="border:none" id="totalSale"></td>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<br />
<center>
    <span class="btn btn-success btn-lg billFinal ajaxProcessSingleC" id='' dataAction="sale" dataOwner="sale" data-toggle="modal" data-target="#myModal" title="Confirmar venta" id="doIt">Facturar</span>    
</center>
<p class="mx"></p>
<br />