@{
    ViewBag.Title = "mailTemplate";
}

<h1>Servicio de notificaciones</h1>

<table>
    <tr>
        <td>
            Notificación de productos
        </td>
    </tr>
    <tr>
        <td>
            Hemos detectado que se está agotando el producto
        </td>
        <td>
            #productName#
        </td>
    </tr>
    <tr>
        <td>
            Tiene disponibles
        </td>
        <td>
            #productQuantity#
        </td>
    </tr>
</table>
<h2>Sistema de inventario SIUG</h2>