@{
    ViewBag.Title = "mailTemplate";
}

<center>
    <h1 style="border-bottom:solid 1px black">Servicio de notificaciones</h1>
</center>

<table>    
    #detailMailTemplate#
</table>
<center>
    <h2>Sistema de inventario SIUG</h2>
</center>
